* {
  margin: 0;
  padding: 0;
}

body {
  background: #111;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

time {
  background: #444;
  padding: 30px 50px;
  border-radius: 10px;
  font-size: 32px;
}