* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222;
}

span {
  background: #dfdfdf;
  font-size: 50px;
  padding: 30px 50px;
  border-radius: 10px;
}
