body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #2f3542;
  color: #e1e1e6;
  font-family: 'Roboto', sans-serif;
}

main {
  max-width: 300px;
  margin: auto;
  text-align: center;
  border-radius: 50%;
}

h1 {
  color: #57606f;
  font-size: 8rem;
  line-height: 94px;
  margin-bottom: 16px;
  font-family: 'Mitr', sans-serif;
}

span {
  font-weight: bold;
  text-transform: uppercase;
  color: #57606f;
}

p {
  margin-bottom: 40px;
}

a {
  line-height: 26px;
  text-decoration: none;
  text-transform: uppercase;
  background: #57606f;
  padding: 16px;
  display: block;
  max-width: 70%;
  margin: auto;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
  transition: all .3s ease;
}

a:hover {
  color: #57606f;
  background: #dfe6e9;
}