*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #010101;
    color: #777;
}

main {
    text-align: center;
    padding: 15px;
}

h1 {
    font-size: 4rem;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 500;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: #fff;
}

h1 span {
    font-weight: 300;
    color: #777;
}

p {
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    margin-bottom: 0;
}

p img {
    height: 0.75rem;
}

p a {
    color: #fff;
    text-decoration: none;
}